<body ng-controller="Detail">
	<section id="entry" ng-hide="entry.title">
		<div class="heading center">
			Entry
		</div>
		<div class="grid center">
			<form action="/api/entry" method="post">
				<input type='text' name='title' placeholder='Fill in the title' />
				<textarea ng-model="content" name='description'></textarea>
				<input type='submit' value='Save' />
			</form>
		</div>
	</section>
	<!-- If entry exists in scope -->
	<section id="entry" ng-show="entry.title">
		<div class="heading center">
			{{ entry.title }}
		</div>
		<div class="grid center">
			<div class="date"><span ng-bind="entry.created | date:'d MMMM yyyy'"></span></div>
			<br />
			<p>{{ entry.description }}</p>
		</div>
	</section>
</body>