<body ng-controller="Home">
	<section id="entries">
		<div class="heading center">
			Entries
		</div>
		<div class="wrapper">
			<div class="grid">
				<div ng-repeat="entry in entries | orderBy:'-created'">
					<div class="entry" ng-click="go('/entry/', entry._id)">
						<div class="date" ng-bind="entry.created | date:'d'"></div>
						<div class="month" ng-bind="entry.created | date:'MMMM'"></div>
						<div class="year" ng-bind="entry.created | date:'YYYY'"><div>
						<span class="line"></span>
						<div class="title"> {{ entry.title }}</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
